.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 12px;
  color: #FFF;
}

.card{
  width: 250px;
  height: 400px;
  background-color: #6C4338;
  border-radius: 15px;
  margin: 16px;
  padding: 5px;
  cursor: pointer;
  transition: .8s linear;
  box-shadow: 5px -2px 0 2px#4a322b;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  display: block;
  width: 120px;
  height: 180px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card h3 {
  font-size: 12px;
  padding: 2px 2px;
  margin: 0;
}
.categoriesColor {
  color:black;
}
.card p {
  margin: 4px 4px;
  color: #cb8933;
}
